@model	Projeto01.Models.Produto
@{				
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Excluir PRODUTO"; 
}
<div class="panel	panel-primary">	
    <div class="panel-heading">	
    	Dados do PRODUTO			
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)<br />	
            <div class="input-group">
                <span class="input-group-addon">	
                    <i class="glyphicon	glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })			
            </div>
        </div>	
        <div class="form-group">
            <label for="Categoria_Nome">Categoria</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon	glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Categoria.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            <label for="Fabricante_Nome">Fabricante</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon	glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Fabricante.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
    </div>				
    <div class="panel-footer	panel-info">	
        @using (Html.BeginForm())
        {	
            @Html.AntiForgeryToken()
            <p class="text-danger">
                Você tem certeza que deseja exluir este registro?

            </p>	
            <input type="submit" value="Sim" class="btn	btn-danger" />	
           @Html.ActionLink("Não", "Index", null, new { @class = "btn	btn-info" })
        }				
    </div>
</div>
@section ScriptPage	{
    <script type="text/javascript">
                $(document).ready(function () {
                    $('li').removeClass("active");
                    $('#liProdutos').addClass("active");
                });
    </script> 
}